{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{% endblock %}
{% block page_content %}
    <script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
    <link href="{{  url_for('static',filename='opsplatform/css/dataTables.bootstrap.css') }}" rel="stylesheet"/>
    <script src="{{  url_for('static',filename='opsplatform/js/layer.js') }}"></script>
    <script src="{{  url_for('static',filename='opsplatform/js/jquery.dataTables.js') }}"></script>
    <script src="{{  url_for('static',filename='opsplatform/js/dataTables.bootstrap.js') }}"></script>
    <div class="row wrapper border-bottom white-bg page-heading">
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div id="ct-chart1" class="ct-perfect-fourth"></div>
                        <div class="panel-content">
                        <div class="row">
                                    
                                       <div class="col-md-7">
                                          <div class="jumbotron">
                                            <h1>JobCenter!</h1>
                                            <p class="lead"> 让添加执行计划任务变得更加优雅~. </p>
                                            <p><a class="btn btn-lg btn-success" href="#" role="button">Go Go Up!</a></p>
                                            <h5>请使用<code>Chrome</code>浏览器进行访问😁</h5>
                                          </div>
                                        </div>
                                      <div class="col-md-4">
                                          {{ wtf.quick_form(form) }}
                                          <code style="font-size: 9px">Demo环境 直接点击登录即可</code>
                                          <br>
                                          <p>忘记密码？点击<a href="{{ url_for('auth.password_reset_request') }}">这里</a>找回。</p>
                                          <p>新用户？点击<a href="{{ url_for('.register') }}">这里</a>注册。</p>
                                      </div>
                                      <div class="col-md-4">
                                      </div>


                                   </div>
                                        <div class="row">
                                    <div class="col-md-4">
                                      <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="http://demo1.z01.com/Template/TeSeZhan/style/images/barbarian.png" alt="Card image cap" width="140%"  >
                                        <br>
                                        <div class="card-body">
                                          <h2 class="card-title">Date</h2>
                                          <p class="card-text">是ApsCheduler中的一种调度触发器类型，它表示在用户特定的时间点触发作业任务。类似于Linux系统中的<code>at</code>命令。</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div>
                                    </div> 
                                    <div class="col-md-4">
                                      <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="http://demo1.z01.com/Template/TeSeZhan/style/images/goblin.png" alt="Card image cap" width="140%"  >
                                        <br>
                                        <div class="card-body">
                                          <h2 class="card-title">Cron</h2>
                                          <p class="card-text">
                                              是ApsCheduler中的一种调度触发器类型,完全兼容Crontab,甚至比Crontab更具有可控性。&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp                </p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div>
                                    </div> 
                                      <div class="col-md-4">
                                      <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="http://demo1.z01.com/Template/TeSeZhan/style/images/wizard.png" alt="Card image cap" width="140%" >
                                        <br>
                                        <div class="card-body">
                                          <h2 class="card-title">Interval</h2>
                                          <p class="card-text">是ApsCheduler中的一种调度触发器类型, 表示间隔时间运行作业任务, 可以更加准确的获取我们需要的数据。</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div>
                                    </div> 
                                  </div>  
                               </div>
                          </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
      </div>

{% endblock %}



[program:jobcenter]
command=/root/.local/share/virtualenvs/JobCenter-OelQLIOn/bin/python3 /root/.local/share/virtualenvs/JobCenter-OelQLIOn/bin/flask run -p 5009
directory=/home/JobCenter
stopwaitsecs=0
autostart=true
autorestart=true
#stdout_logfile=/var/log/gunicorn_jobcenter.log
#stderr_logfile=/var/log/gunicorn_jobcenter.error