ul {
  background: #fff;
  width: 720px;
  margin: auto;
  list-style: none;
  padding: 0;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
}
ul li {
  width: 180px;
  height: 180px;
  line-height: 176px;
  text-align: center;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
}
li:nth-child(1){
  background-color: #1ABC9C;
}
li:nth-child(2){
  background-color: #F39C12
}
li:nth-child(3){
  background-color: #9B59B6
}
li:nth-child(4){
  background-color: #3498DB;
}
li:nth-child(5){
  background-color: #8E44AD;
}
li:nth-child(6){
  background-color: #2980B9
}
li:nth-child(7){
  background-color: #F1C40F;
}
li:nth-child(8){
  background-color: #E74C3C;
}
