{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{% endblock %}
{% block page_content %}
    <script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>

    <div class="row wrapper border-bottom white-bg page-heading">
    </div>
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div id="ct-chart1" class="ct-perfect-fourth"></div>
                        <div class="panel-content ">
                          <div class="row">
                             <div class="col-md-4">
                                <div class="panel panel-info">
                                      <div class="panel-heading">
                                        <h3 class="panel-title">添加Date job任务</h3>
                                      </div>
                                      <div class="panel-body">
                                        <div class="card" style="width: 18.9rem;">
                                        <img class="card-img-top" src="{{  url_for('static',filename='img/barbarian.png') }}" alt="Card image cap" width="145%"  >
                                        <br>
                                        <div class="card-body">
                                          <!-- <h2 class="card-title">Date</h2> -->
                                          <a class="nav-link btn btn-success" href="#" data-toggle="modal" data-target="#DateModal" class="btn btn-primary">Go</a>
                                        </div>
                                      </div>

                                        </div>
                                      </div>
                                    </div>
                                  <div class="col-md-4">
                                <div class="panel panel-info">
                                      <div class="panel-heading">
                                        <h3 class="panel-title">添加Cron job任务</h3>
                                      </div>
                                      <div class="panel-body">
                                      <div class="card" style="width: 19.7rem;">
                                        <img class="card-img-top" src="{{  url_for('static',filename='img//goblin.png') }}" alt="Card image cap" width="145%"  >
                                        <br>
                                        <div class="card-body">
                                          <!-- <h2 class="card-title">Cron</h2> -->
                                          <a class="nav-link btn btn-success" href="#" data-toggle="modal" data-target="#CronModal" class="btn btn-primary">Go</a>
                                        </div>
                                      </div>
                                        </div>
                                      </div>
                                    </div>
                                  <div class="col-md-4">
                                    <div class="panel panel-info">
                                      <div class="panel-heading">
                                        <h3 class="panel-title">添加Interval job任务</h3>
                                      </div>
                                      <div class="panel-body">
                                           <div class="card" style="width: 18.3rem;">
                                        <img class="card-img-top" src="{{  url_for('static',filename='img//wizard.png') }}" alt="Card image cap" width="145%" >
                                        <br>
                                        <div class="card-body">
                                          <!-- <h2 class="card-title">Interval</h2> -->
                                          <a class="nav-link btn btn-success" href="#" data-toggle="modal" data-target="#IntervalModal" class="btn btn-primary">Go</a>   
                                        </div>
                                      </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                               </div>

                              <div class="modal fade" id="CronModal" role="dialog">
                                <div class="temp-custom-modal-wrap">
                                  <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content temp-custom-modal-content">
                                      <div class="modal-body temp-custom-modal-body">
                                        <div class="temp-login-form-wrapper">
                                          <div class="row custom-row">
                                 
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <div class="temp-form-column-wrap">

                                                <h2>Cron定时任务</h2>
                                                {{ wtf.quick_form(form_cron) }}
                                                <button type="button" class="close temp-custom-close-button" data-dismiss="modal">取消</button>
                                                <hr>
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                      <h3 class="panel-title">Cron 调度器参数说明</h3>
                                                     </div>
                                                    <div class="panel-body">
                                                    <p>
                                                      year (int|str) – 年，4位数字<br>
                                                      month (int|str) – 月 (范围1-12)<br>
                                                      day (int|str) – 日 (范围1-31)<br>
                                                      week (int|str) – 周 (范围1-53)<br>
                                                      day_of_week (int|str) – 周内第几天或者星期几 (范围0-6 或者 mon,tue,wed,thu,fri,sat,sun)<br>
                                                      hour (int|str) – 时 (范围0-23)<br>
                                                      minute (int|str) – 分 (范围0-59)<br>
                                                      second (int|str) – 秒 (范围0-59)<br>
                                                      start_date (datetime|str) – 最早开始日期(包含)<br>
                                                      end_date (datetime|str) – 最晚结束时间(包含)<br>
                                                      timezone (datetime.tzinfo|str) – 指定时区<br>
                                                    </p>
                                                    <hr>
                                                  
                                                    <p> 1.任务名称: 以调度器名称为统一前缀,后面可按照任务功能自定义名字。</p>
                                                    <p> 2.计划运行时间的格式为 <code>秒、分、时、月、周</code>,这里注意与interval调度器的区别。
                                                     以上默认值表示的是该计划定于每天的11点到15点的第10分钟到15分钟，这5分钟的每第20秒执行该任务。 <p>
                                                
                                                  
                                                    </div>
                                                </div>
                                              </div>  
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="modal fade" id="DateModal" role="dialog">
                                <div class="temp-custom-modal-wrap">
                                  <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content temp-custom-modal-content">
                                      <div class="modal-body temp-custom-modal-body">
                                        <div class="temp-login-form-wrapper">
                                          <div class="row custom-row">
                                 
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <div class="temp-form-column-wrap">
                                                <h2>一次性定时任务</h2>
                                                {{ wtf.quick_form(form_date) }}
                                                <button type="button" class="close temp-custom-close-button" data-dismiss="modal">取消</button>
                                                  <hr>
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                      <h3 class="panel-title">Date 调度器参数说明</h3>
                                                     </div>
                                                    <div class="panel-body">
                                                      <p>
                                                        run_date (datetime|str) – 作业的运行日期或时间<br>
                                                        timezone (datetime.tzinfo|str) – 指定时区(默认无需指定)
                                                      </p>
                                                      <p> 任务名称: 以调度器名称为统一前缀,后面可按照任务功能自定义名字。</p>

                                                    </div>
                                                </div>
                                              </div>  
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="modal fade" id="IntervalModal" role="dialog">
                                <div class="temp-custom-modal-wrap">
                                  <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content temp-custom-modal-content">
                                      <div class="modal-body temp-custom-modal-body">
                                        <div class="temp-login-form-wrapper">
                                          <div class="row custom-row">
                                 
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                              <div class="temp-form-column-wrap">
                                                <h2>间隔定时任务</h2>
                                                {{ wtf.quick_form(form_interval) }}
                                                <button type="button" class="close temp-custom-close-button" data-dismiss="modal">取消</button>
                                                  <hr>
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                      <h3 class="panel-title">Interval 调度器参数说明</h3>
                                                     </div>
                                                    <div class="panel-body">
                                                      <p>
                                                          weeks (int) – 间隔几周</br>
                                                          days (int) – 间隔几天</br>
                                                          hours (int) – 间隔几小时</br>
                                                          minutes (int) – 间隔几分钟</br>
                                                          seconds (int) – 间隔多少秒</br>
                                                          start_date (datetime|str) – 开始日期</br>
                                                          end_date (datetime|str) – 结束日期</br>
                                                          timezone (datetime.tzinfo|str) – 时区</br>
                                                      </p>
                                                      <hr>
                                                      <p> 1.任务名称: 以调度器名称为统一前缀,后面可按照任务功能自定义名字。</p>
                                                      <p> 2.计划运行时间的格式为 <code>秒、分、时、日、周</code>, 以上默认值表示的是间隔10秒执行一次定时任务。<p>
                                                    </div>
                                                </div>

                                              </div>  
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          </div>
                        </div>
                    </div>
                   </div>
                </div>
    
  
{% endblock %}

