{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{% endblock %}
{% block page_content %}
<style>
.test_box {
    min-height: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    outline: 0;
    width: auto;
    border: 1px solid #a0b3d6;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 40px;
    font-family: auto;
    /*font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;*/
    -webkit-user-modify: read-write-plaintext-only;
    background-color: #161616;
    color:green;
}
</style>

    <script src="{{  url_for('static',filename='opsplatform/js/jquery-2.1.1.js') }}"></script>
    <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <a href="https://github.com/guomaoqiu/JobCenter" target="_blank">逛完请留步，点我 star 一下，鼓励一下开发者！ <i class="fa fa-star" aria-hidden="true"></i> star！</a>
                </li>
            </ol>
        </div>

    </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="test_box" contenteditable="true">
								<center>
									<h1 style="color:green">I am too lazy 😂!<br>I want make everything automation🍺 !</h1>
									<h5 style="color:green">Operating without the purpose of automation is a rogue.</h5>
								</center>
							</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

