
    <script src="{{ url_for('static',filename='js/daterangepicker.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/jquery.sparkline.min.js') }}" type="text/javascript"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.css" rel="stylesheet">
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/daterangepicker-2.0.5/moment.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.js"></script>

  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script> -->
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
                  <form class="form-horizontal">
                                    <div class="form-group clearfix">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <div class="pull-left info">
                                            <br>
                                            作业ID: <input type="text" class="form-control " id="job_id" placeholder="Job ID">  
                                            <br>
                                            计划执行时间: <input type="text" class="form-control daterangepicker_demo" id="daterangepicker_demo1" placeholder="选择日期...">
                                            
                                            
                                        </div>
                                    </div>
                                        </div>
                                </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="settime()" >提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>




    <script>
        function show() {
            var dateTime = new Date();
            var yy = dateTime.getFullYear() + "";
            var mm = dateTime.getMonth() + 1 + "";
            var dd = dateTime.getDate() + "";
            var hh = dateTime.getHours() + "";
            var jj = dateTime.getMinutes() + "";
            var ss = dateTime.getSeconds() + "";
            if (mm.length == 1) {
                mm = "0" + mm;
            }
            if (dd.length == 1) {
                dd = "0" + dd;
            }
            if (hh.length == 1) {
                hh = "0" + hh;
            }
            if (jj.length == 1) {
                jj = "0" + jj;
            }
            if (ss.length == 1) {
                ss = "0" + ss;
            }
            document.getElementById("nowDiv").innerHTML =
                    yy + "-" + mm + "-" + dd + " " + hh + ":" + jj + ":" + ss;
            setTimeout("show()",1000); //设置过1000毫秒就是1秒，调用show方
        }
    </script>

<script type="text/javascript">
    // 选择单个日期
    $('#daterangepicker_demo1').daterangepicker({
        locale : {
            format : 'YYYY-MM-DD HH:mm:ss'
        },
        autoApply: true,//选择日期后自动设置值
        singleDatePicker : true,//单选选择一个日期
        timePicker: true,//支持时间选择
        timePicker24Hour: true,//开启24小时时间制
        timePickerIncrement : 1, //分钟间隔
        timePickerSeconds: true //开启分钟选择

    });
</script>


    <script>
        function settime() {

            var data = {
                    "time":$("#daterangepicker_demo1").val()
                };
            console.log(data)
            $.ajax ({
                type:'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json',
                //url:"http://127.0.0.1:5000/settime",
                url:"http://cbtops.jp.warshipgirls.com/settime",
                 success: function(res) {
                     if (res.result) {
                        swal({
                          title: "设置时间为: " + $("#daterangepicker_demo1").val() + "成功!",
                          timer: 1500,
                          imageUrl: "{{  url_for('static',filename='main/img/thumbs-up.jpg') }}",
                          showConfirmButton: false
                        });

                        setTimeout(function() {
                            window.location.reload();
                        }, 1500)
                     }
                     else{
                        swal('设置时间失败，请联系管理员...','','error')
                     }
                    }
                });
        }
    </script>
    <script>
        function flush() {
            window.location.reload()
        }
    </script>


    <script>
     function sync() {

                $.ajax ({
                    type:'PUT',
                    // #data: JSON.stringify(data),
                    contentType: 'application/json; charset=UTF-8',
                    // #dataType: 'json',
                    //url:"http://127.0.0.1:5000/synctime",
                    url:"http://cbtops.jp.warshipgirls.com/settime",
                     success: function(res) {
                         if (res.result) {
                            console.log(res)
                            swal({
                              title: res.message,
                              timer: 1500,
                              imageUrl: "{{  url_for('static',filename='main/img/thumbs-up.jpg') }}",
                              showConfirmButton: false
                            });

                            setTimeout(function() {
                                window.location.reload();
                            }, 1500)
                         }
                         else{
                            console.log(res)
                            swal('同步时间失败，请联系管理员...','','error')
                         }
                        }
                    });
            }
    </script>

