<style>
.test_box {
    min-height: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: auto;
    border: 0px solid #a0b3d6;
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 60px;
    font-family: fantasy;
    background-color: #161616;
    color:red;
}
</style>
<div class="test_box" contenteditable="true">
	<center>
		<img src="{{ url_for('static',filename='img/fuck.jpg')}}">
		<h1>Fucking WindPlay's CTO !!! </h1>
	</center>
</div>

      


