<style>
.test_box {
    min-height: auto;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    width:auto;
    border: 1px solid #a0b3d6;
    font-size: 14px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    -webkit-user-modify: read-write-plaintext-only;
    background-color: #161616;
    color:#12ec12;
}
</style>
<div class="test_box" contenteditable="true">
{{ stdout }}
</div>